.buy-with-product {
  margin: 86px 0 43px;

  @include laptop {
    margin: 60px 0 40px;
  }

  @include mobile {
    margin: 40px 0;
  }

  &__wrapper {
    max-width: 1446px;
    margin: 0 auto;
  }

  &__title {
    margin: 0 0 20px;
    font-weight: 800;
    font-size: 30px;
    line-height: 170%;
    text-transform: uppercase;
    color: #292929;

    @include mobile {
      font-size: 24px;
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    flex: 0 0 calc(100% / 4 - 10px / 4 * 3);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #f7f7f7;

    @include laptop {
      flex: 0 0 calc(100% / 2 - 10px / 2);
    }

    @include mobile {
      flex: 1 1 100%;
    }

    &-title {
      margin: 0 0 4px;
      font-weight: 800;
      font-size: 20px;
      line-height: 100%;
      text-transform: uppercase;
      color: #151629;
    }

    &-price {
      margin: 0 0 20px;
      font-weight: 400;
      font-size: 16px;
      line-height: 125%;
      text-transform: uppercase;
      color: #000;
    }

    &-photo {
      margin: 0 0 13px;

      &-image {
        display: block;
        max-width: 100%;
        height: auto;
        border-radius: 10px;
      }
    }

    &-description {
      flex: 1 1 auto;
      margin: 0 0 17px;
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      color: #000;
    }

    &-more {
      &-link {
        display: flex;
        align-items: center;
        gap: 5px;
        width: fit-content;
        font-weight: 800;
        font-size: 12px;
        line-height: 100%;
        text-transform: uppercase;
        color: #f04;

        &::after {
          content: '';
          display: inline-block;
          width: 14px;
          height: 14px;
          background: url(../assets/icons/arrow-right.svg) center / cover no-repeat;
        }
      }
    }
  }
}
